.sidebar {
  background: #181818;
}

.mainBg {
  background: #212121;
}

.inputArea {
  background: #303030;
}

.menuItem {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.menuItem:hover {
  background: #2b2b2b;
}

@media(max-width:768px){
  .sidebar {
    width: 16rem;
  }
}
